---
// src/components/nav.astro
---
<style>
nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /*repeat(auto-fit, minmax(min(100%, 10ch), 1fr)); */
    }
    nav a{
      outline: 1px solid red;
      text-align: center;
      padding: 1em;
    }
</style>
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/markdown-code">markdown-code</a>
</nav>